node_modules
.env
.env.local
.next
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.env.local.example
.gitignore
QUICKSTART.md
README.md
Screenshot 2025-11-25 025058.png
Screenshot 2025-11-25 031951.png
ui.png